@{
    ViewBag.Title = "Підтвердження Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Дякуємо за пітвердження вашого email. Будь ласка, @Html.ActionLink("натисніть тут для входу", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
