
@{
    ViewBag.Title = "Головна";
}

<h2>Адміністрування</h2>

<div class="row">
    <p>@Html.ActionLink("Користувачі", "Users")</p>
    <p>@Html.ActionLink("Відправлення", "Invoices")</p>
    <p>@Html.ActionLink("Поштові оператори", "Index", "PostOperator")</p>
</div>

